affine==2.3.0
attrs==19.2.0
ax-platform==0.2.6
backcall==0.2.0
backports.functools-lru-cache==1.6.1
botorch==0.6.6
brotlipy==0.7.0
certifi==2024.7.4
cffi==1.15.0
charset-normalizer==2.0.12
Click==7.0
click-plugins==1.1.1
cligj==0.7.1
colorama==0.4.4
colorlog==6.9.0
contextily==1.2.0
cryptography==36.0.1
cycler==0.10.0
Cython==3.0.12
decorator==4.4.2
dill==0.3.3
Fiona==1.8.4
Flask==1.1.2
Flask-SocketIO==4.3.2
future==0.18.2
GDAL==2.4.4
geographiclib==1.52
geopandas==0.7.0
geopy==2.2.0
gpytorch==1.8.1
idna==3.3
importlib-metadata==3.10.1
ipykernel==5.5.5
ipython==7.21.0
ipython-genutils==0.2.0
itsdangerous==1.1.0
jedi==0.18.0
Jinja2==2.11.3
joblib==1.0.1
jupyter-client==6.1.12
jupyter-core==4.7.1
kiwisolver==1.3.1
livereload==2.6.3
llvmlite==0.36.0
lunr==0.5.8
Markdown==3.3.4
MarkupSafe==1.1.1
matplotlib==3.1.1
mercantile==1.2.1
mkdocs==1.1.2
mkdocs-material==7.1.1
mkdocs-material-extensions==1.0.1
multipledispatch==1.0.0
munch==2.5.0
networkx==2.3
nltk==3.6.1
numba==0.53.0
numpy==1.20.3
olefile==0.46
opt-einsum==3.3.0
packaging==24.0
pandas==1.2.3
parso==0.8.1
pickleshare==0.7.5
Pillow==8.1.2
pip==21.0.1
plotly==5.18.0
prompt-toolkit==3.0.18
pycparser==2.21
Pygments==2.8.1
pymdown-extensions==8.1.1
pyOpenSSL==22.0.0
pyparsing==2.4.7
pyproj==2.6.1.post1
PyQt5==5.12.3
PyQt5-sip==4.19.18
PyQt6==6.5.0
PyQt6-Qt6==6.5.0
PyQt6-sip==13.5.1
PyQtWebEngine==5.12.1
pyro-api==0.1.2
pyro-ppl==1.8.6
PySocks==1.7.1
python-dateutil==2.8.1
python-engineio==3.14.2
python-socketio==4.5.1
pytz==2019.3
pywin32==300
PyYAML==5.4.1
pyzmq==22.1.0
rasterio==1.1.5
regex==2021.4.4
requests==2.27.1
Rtree==0.9.7
scikit-learn==0.24.1
scipy==1.6.1
setuptools==49.6.0.post20210108
Shapely==1.7.1
six==1.12.0
snuggs==1.4.7
tenacity==8.2.3
threadpoolctl==2.1.0
torch==1.13.1
tornado==6.1
tqdm==4.36.1
traitlets==5.0.5
typeguard==4.1.2
typing-extensions==4.7.1
urllib3==1.26.8
wcwidth==0.2.5
Werkzeug==1.0.1
wheel==0.36.2
win-inet-pton==1.1.0
wincertstore==0.2
xyzservices==2022.2.0
zipp==3.4.1
